:root {
    --bg-dark: rgb(30, 28, 28);
}

body {
    background: var(--bg-dark);
    background-size:auto;
    color: white;

}

.partly-cloudy-day {
    height: 5rem;
    width: 5rem;
    background-position: center;
    background-size: cover;
    background-image: url('Icons/partly-cloudy-day.png');
}